%% -*- erlang -*-

{erl_first_files, [
    "src/exometer_igor.erl",
    "src/exometer_util.erl",
    "src/exometer_entry.erl",
    "src/exometer_probe.erl"
]}.

{deps, [
    {folsom, ".*", {git, "git://github.com/basho/folsom.git", {branch, "feature/otp-17"}}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "feature/otp-17"}}},
    {parse_trans, ".*", {git, "git://github.com/uwiger/parse_trans.git", {branch, "master"}}},
    {setup, ".*", {git, "git://github.com/uwiger/setup.git", {branch, "master"}}}
]}.

{erl_opts, [
    debug_info,
    fail_on_warning,
    {parse_transform, lager_transform},
    {verbosity, trace}
]}.

{sub_dirs, ["src"]}.

{edoc_opts, [
    {doclet, edown_doclet},
    {app_default, "http://www.erlang.org/doc/man"},
    {doc_path, []},
    {top_level_readme, {"./README.md",
        "https://github.com/Feuerlabs/exometer_core", "master"}}
]}.

{xref_checks, [
    deprecated_functions,
    deprecated_functions_calls,
    locals_not_used,
    undefined_function_calls,
    undefined_functions
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{clean_files, ["test/app1/ebin/*.beam"]}.
